@keyframes animiate-comic-item {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.page-comics {
  width: 100%;
  min-height: 100vh;
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .page-comics-block {
    width: 80%;
    margin: 0 auto;
    .page-comics-block-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: auto;
      .comic-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px;
        margin: 10px;
        animation: animiate-comic-item 1.5s linear;
        .comic-item-image {
          margin-bottom: 20px;
          box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
          a {
            img {
              max-width: 100%;
              width: 285px;
              height: 427.5px;
            }
          }
        }
        .comic-item-text {
          h5 {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            width: 285px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0
          }
        }
      }
    }
    .page-comics-block-items-list{
      img{
        height: 150px;
        width: 150px;
      }
    }
    .page-comics-block-pagination {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 2560px) {
  .page-comics {
    .page-comics-block{
      width: 90%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-comics {
    .page-comics-block {
      .page-comics-block-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        .comic-item {
          .comic-item-image{
            a {
              img {
                max-width: 100%;
                width: 230px;
                height: 330px;
              }
            }
          }
          .comic-item-text {
            h5 {
              width: 230px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-comics {
    .page-comics-block {
      width: 100%;
      .page-comics-block-items{
        .comic-item {
          .comic-item-image{
            a {
              img {
                max-width: 100%;
                width: 220px;
                height: 300px;
              }
            }
          }
          .comic-item-text {
            h5 {
              width: 220px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .page-comics {
    .page-comics-block {
      .page-comics-block-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        .comic-item {
          .comic-item-image{
            a {
              img {
                max-width: 100%;
                width: 150px;
                height: 150px;
              }
            }
          }
          .comic-item-text {
            h5 {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
  .page-comics {
    .page-comics-block {
      .page-comics-block-items{
        .comic-item {
          .comic-item-image{
            a {
              img {
                max-width: 100%;
                width: 130px;
                height: 130px;
              }
            }
          }
          .comic-item-text {
            h5 {
              width: 130px;
            }
          }
        }
      }
    }
  }
}
